{
  "gui" : {
  
    // Mise en page
	
	"background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/windowconfigCustomWallet/header.png",
      "fileBody" : "/interface/windowconfigCustomWallet/body.png",
      "fileFooter" : "/interface/windowconfigCustomWallet/footer.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : " My Personnal Wallet",
      "subtitle" : " ^orange;Money. Money. Money !!!",
      "icon" : { "type" : "image", "file" : "/interface/windowconfigCustomWallet/windowicon.png" }
    },
	
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [160, 107]
    },
	
	
	// Informations Money 1
	
	"txtMoney01" : {
      "type" : "label",
      "position" : [30, 71],
      "hAnchor" : "mid",
      "vAnchor" : "bottom",
      "color" : "cyan",
      "value" : "MONEY 1 :"
    },
    "yourMoney01" : {
      "type" : "label",
      "position" : [115, 71],
      "hAnchor" : "mid",
      "vAnchor" : "bottom",
      "value" : "--"
    },
	
	
	// Informations Money 2
	
	"txtMoney02" : {
      "type" : "label",
      "position" : [30, 36],
      "hAnchor" : "mid",
      "vAnchor" : "bottom",
      "color" : "cyan",
      "value" : "MONEY 2 :"
    },
    "yourMoney02" : {
      "type" : "label",
      "position" : [115, 36],
      "hAnchor" : "mid",
      "vAnchor" : "bottom",
      "value" : "--"
    }
	
  },

  "money1name" : "Name 1", // Change this value for customize your first money name
  "money2name" : "Name 2", // Change this value for customize your second money name
  
  "scripts" : ["/interface/windowconfigCustomWallet/myWalletGui.lua"],
  "scriptDelta" : 30
}
